*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 960px;
  margin: auto;
  background-color: gray;
}

/* NAV */
.header{
  border: solid 2px black;
}
.header-nav{
  border: solid yellow;
  display: inline-block;
  width: 100%;
  height: 4em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}
.cuadrados{
  display: flex;
  border: solid red;
}
.nav-ul ul{
  display: flex;
  margin-right: 10px;
  border: solid green;
}
.nav-ul ul li{
  margin-right: 20px;
  list-style: none;
}
a {
  text-decoration: none;
}

.cuadrados{
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  width: 5rem;
  height: 4rem;
}
.cuadrado-1{
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: .5rem;
  background-color:#6D0AD3;
  transform: rotate(135deg);
}
.cuadrado-2{
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: .8rem;
  background-color: #00CF95;
  transform: rotate(135deg);
}
.cuadrado-3{
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  background-color: red;
  transform: rotate(135deg);
}
.cuadrado-4{
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 1.5rem;
  background-color: #D1FFA2;
  transform: rotate(135deg);
}
.cuadrados p{
  font-family: 'Beth Ellen';
  z-index: 2;
  margin-left: .5rem;
}
/* .logo{
  width: 1.5rem;
  left: 5rem;
  z-index: 2;
} */

/* HEADER-CONTEN */
.about{
  margin: 1rem;
  display: flex;
  position: relative;
}
.about-me{
  border: solid yellow;
  position: absolute;
  left: 7rem;
  top: 2rem;
}
/* .barra{
  display: block;
  width: .5rem;
  height: 6.5rem;
  border: solid green;
  background-color: green;
} */
.about-name {
  border: solid yellow;
  position: absolute;
  left: 7rem;
  top: 4rem;

}

.about-context{
  border: solid yellow;
  position: absolute;
  left: 7rem;
  top: 9rem;
  margin-right: 31rem;
}
.about-context p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
}
.btn-icons{
  border: solid yellow;
  position: absolute;
  left: 7rem;
  top: 16rem;
}
.avatar{
  border: solid yellow;
  display: flex;
  margin-left: 28rem;
}